@font-face {
  font-family: open-huninn;
  src: url('../font/open-huninn.ttf') format('truetype');
}

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  transition-duration: 0.5s;
}

h1, h2 {
  font-family: open-huninn;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
}
*,
p,
li {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: 2px;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.gradient-bg {
  background: linear-gradient(
    180deg,
    #190060 0%,
    rgba(28, 27, 113, 0.619792) 56.77%,
    rgba(33, 70, 142, 0) 100%
  );
}
.gradient-bg * {
  color: white;
}

section {
  margin: 100px 0;
}

#hero-section {
  margin-top: 0;
}

#hero-section .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#hero-section h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

#hero-section p {
  font-size: 1.25rem;
}

#hero-section a.btn{
  border-radius: 100px;
  font-size: 1.25rem;
  letter-spacing: 4px;
  border: white solid 2px;
  padding: 1rem 2rem;
}
#hero-section a.btn:hover {
  border: white solid 2px;
  background-color: white;
}
#hero-section a.btn:focus {
  opacity: 0.5;
}

.hero-right-image {
  height: 400px;
  text-align: right;
}
#feature-section {
  padding-bottom: 30px;
}

#feature-section h2 {
  padding-bottom: 50px;
}

.feature-item.offset-top {
  margin-top: 60px;
}
.feature-item {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(74, 127, 131, 0.1);
  border-radius: 31px;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
}

.feature-item:hover * {
  color: rgba(28, 27, 113, 0.619792);
}

.feature-item * {
  color: #000000;
}

.feature-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.feature-item p {
  font-size: 1rem;
}
.shape-bg {
  background-image: url(../img/bg_intro_section.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#intro-section .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
#intro-section h2 {
  font-weight: bold;
}

.teams > div {
  min-width: 215px;
  max-width: 100%;
}
.team-bg {
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.team-1 .team-bg {
  background-image: url(../img/logo_team-1.png);
}
.team-2 .team-bg {
  background-image: url(../img/logo_team-2.png);
}
.team-3 .team-bg {
  background-image: url(../img/logo_team-3.png);
}
.team-4 .team-bg {
  background-image: url(../img/logo_team-4.png);
}
.team-5 .team-bg {
  background-image: url(../img/logo_team-5.png);
}
.bubble-bg {
  height: 100px;
  background-image: url(../img/bg_dialogue_bubble.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 25px;
}
.bubble-bg p {
  margin-bottom: 0px;
}

#course-section ul {
    padding-left: 10%;
    padding-right: 10%;
}

#course-section {
  padding-top: 100px;
}

#course-section h2 {
  margin-bottom: 180px;
  color: gray;
}

#course-section .nav-item a {
  color: #000000;
  opacity: 0.3;
  font-size: 1.2rem;
}
#course-section .nav-item a.active,
#course-section .nav-item a:hover {
  opacity: 1;
  text-decoration: none;
}
@media only screen and (max-width: 820px) {
  .nav-tabs {
    flex-direction: column;
  }
}
@media only screen and (min-width: 820px) {
  .nav-tabs {
    border-bottom: none;
  }

  .nav-tabs .nav-item {
    margin-bottom: 0;
  }
  .nav-item > hr {
    border-radius: 10px 10px 0px 0px;
    margin-top: -85px;
    margin-bottom: 0px;
    border-top: #00000000 10px solid;
    height: 100px;
    transition-duration: 0.5s;
  }
  .course-1.nav-item a:hover + hr,
  .course-1.nav-item a.active + hr {
    border-top: #ef383b 10px solid;
  }
  .course-2.nav-item a:hover + hr,
  .course-2.nav-item a.active + hr {
    border-top: #f4ce22 10px solid;
  }
  .course-3.nav-item a:hover + hr,
  .course-3.nav-item a.active + hr {
    border-top: #9a4aff 10px solid;
  }
  .course-4.nav-item a:hover + hr,
  .course-4.nav-item a.active + hr {
    border-top: #47a7ff 10px solid;
  }
  .course-5.nav-item a:hover + hr,
  .course-5.nav-item a.active + hr {
    border-top: #04aa58 10px solid;
  }

  .nav-item a.active + hr,
  .tab-pane.active {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 2px -20px 30px -10px;
  }
}

.tab-pane .container {
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 10%;
  padding-right: 10%;
}

.tab-pane h3.course-name {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 2px;
}

.tab-pane h3.course-desc {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
}

.course-logo {
  max-height: 40px;
}

.row.gallery {
  margin: 5rem 0;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery .col-auto {
  height: 200px;
  padding: 0;
  margin: 0 10px;
}

.course-photo {
  border-radius: 20px;
}

.tab-pane h4 {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 2px;
  display: block;
  padding-left: 15px;
  margin: 1em 0;
}

#course-cube h4 {
  border-left: #ef383b 4px solid;
}

#course-gardening h4 {
  border-left: #f4ce22 4px solid;
}
#course-memory h4 {
  border-left: #9a4aff 4px solid;
}
#course-dance h4 {
  border-left: #47a7ff 4px solid;
}
#course-ball h4 {
  border-left: #04aa58 4px solid;
}

.intro p,
.intro li {
  color: #666666;
  margin-left: 19px;
}
.intro li {
  margin-bottom: 0.25em;
}
.course-timetable th,
#pricing-section th {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-top: none;
  color: #666666;
}

.course-timetable tr:first-child,
#pricing-section tr:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.course-timetable tr:nth-child(2n + 2),
#pricing-section tr:nth-child(2n + 2) {
  background: #f8f8f8;
}

.course-timetable td,
#pricing-section td {
  color: #000000;
  padding: 15px 30px;
  border-top: none;
}

.tab-content {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 20px 30px -10px;
}

@media (min-width: 992px) {
    #pricing-section .container, #faq-section .container {
        max-width: 890px;
    }
}

#pricing-section h2, #faq-section h2 {
  padding: 3rem 0;  
  color: gray;
  /* background: linear-gradient(#ef383b88, #f4ce2288);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#pricing-section.shape-bg-2 {
  background: url(../img/bg_shape-2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

#pricing-section .card {
  text-align: center;
  border-radius: 20px;
  padding-left: 0%;
  padding-right: 0;
}
#pricing-section .course-name {
  font-size: 1.5em;
  padding: 20px;
  margin-bottom: 16px;
  background-image: linear-gradient(180deg, #ef383baa 0%, #ef383bd3 100%),
    url(../img/photo_course-1b.jpg);
  background-size: cover;
  border-radius: 20px 20px 0 0;
  color: white;
}
#pricing-section span.bignum {
  font-size: 1.5em;
}



#faq-section p {
  line-height: 1.7em;
  margin-bottom: 1.7em;
}

#registration-section a.btn {
  /* border-radius: 100px; */  
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 1rem 2rem;
  border: 2px solid;
  /* padding: 2px; */
  width: fit-content;
}

#registration-section a.btn {  
  border-image-source: linear-gradient(#ef383b88, #f4ce2288);
  border-image-slice: 20;
  background-clip: border-box;
  background: linear-gradient(#ef383b88, #f4ce2288);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#registration-section a.btn:hover {
  background: linear-gradient(#ef383b88, #f4ce2288);
  background-clip: padding-box;
  -webkit-text-fill-color: white;
}

#footer-section {
    background-color: rgba(28, 27, 113, 0.619792);
    padding: 70px 0;
    margin-bottom: 0;
}

#footer-section * {
    color: white;
}

#footer-section .row {
    margin: 30px 0;
}

#footer-section h4 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.footer-logo {
    padding-right: 0;
}
